BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "CK" SITE "88" ;
LOCATE COMP "TP1" SITE "45" ;
LOCATE COMP "TP2" SITE "27" ;
