BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CK" IO_TYPE=LVCMOS33 ;
