BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "CK" SITE "88" ;
LOCATE COMP "TP1" SITE "45" ;
LOCATE COMP "TP2" SITE "27" ;
LOCATE COMP "CH1" SITE "7" ;
IOBUF PORT "CH1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "SHOW" SITE "77" ;
IOBUF PORT "SHOW" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "HIDE" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CONFIG" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "HIDE" SITE "66" ;
LOCATE COMP "CONFIG" SITE "76" ;
IOBUF PORT "CH2" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH3" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH4" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH5" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH6" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH7" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH8" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH9" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH10" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH11" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH12" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH13" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH14" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CH15" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SHOWLED" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "HIDELED" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CONFIGLED" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "RESETLED" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "UPLOAD" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "EMPTY" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ACTIV" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DMERR" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "CH2" SITE "8" ;
LOCATE COMP "CH3" SITE "14" ;
LOCATE COMP "CH4" SITE "15" ;
LOCATE COMP "CH5" SITE "99" ;
LOCATE COMP "CH6" SITE "98" ;
LOCATE COMP "CH7" SITE "97" ;
LOCATE COMP "CH8" SITE "16" ;
LOCATE COMP "CH9" SITE "17" ;
LOCATE COMP "CH10" SITE "28" ;
LOCATE COMP "CH11" SITE "29" ;
LOCATE COMP "CH12" SITE "30" ;
LOCATE COMP "CH13" SITE "75" ;
LOCATE COMP "CH14" SITE "74" ;
LOCATE COMP "CH15" SITE "71" ;
LOCATE COMP "SHOWLED" SITE "1" ;
LOCATE COMP "HIDELED" SITE "2" ;
LOCATE COMP "CONFIGLED" SITE "18" ;
LOCATE COMP "RESETLED" SITE "19" ;
LOCATE COMP "UPLOAD" SITE "24" ;
LOCATE COMP "EMPTY" SITE "25" ;
LOCATE COMP "ACTIV" SITE "70" ;
LOCATE COMP "DMERR" SITE "69" ;
LOCATE COMP "TP3" SITE "84" ;
LOCATE COMP "TP4" SITE "83" ;
IOBUF PORT "SDI" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
LOCATE COMP "SDI" SITE "42" ;
IOBUF PORT "LRST" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "LRST" SITE "67" ;
LOCATE COMP "SDO" SITE "43" ;
IOBUF PORT "SDO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
